@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container-fluid h-100">

        <div class="row h-100">

            <div class="col-md-6 bg-login-blue h-100">

                <div class="col-3 ml-5">

                    <h2 class="font-weight-bold text-light fs-1">SEJA BEM VINDO!</h2>

                    <p>GERENCIE SUAS TAREFAS DE MANEIRA <br />PRÁTICA E OBJETIVA.</p>

                </div>

            </div>

            <div class="col-md-6">

                <h1>lado 2</h1>
            </div>

        </div>

    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>
