@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciador de Tarefas</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <div class="container-fluid h-100">

        <div class="row h-100 mb-5">

            <div id="login-left" class="col-6 h-100 bg-login-blue mb-5">

                <div class="row h-100 align-items-end pb-5">

                    <div class="col-10 flex-column">

                        <img src="~/img/ImagemLogin.png" class="img-fluid img-login-pc" alt="Imagem Principal" />

                    </div>

                    <div class="col-10 flex-column ml-5 pb-5">

                        <h2 class="font-weight-bold text-light  fs-1">SEJA BEM VINDO!</h2>

                        <p class="text-light">GERENCIE SUAS TAREFAS DE MANEIRA <br />PRÁTICA E OBJETIVA.</p>

                    </div>

                </div>

            </div>

            <div id="login-right" class="col-6 h-100 bg-light">

                <div class="row h-100 w-75 m-auto align-items-center justify-content-center">

                    <div class="col-10 flex-column mw-200">

                        <div class="text-center pb-5">

                            <img src="~/img/bootstrap-stack.png" alt="Company" class="img-login">

                        </div>

                        <form>

                            <div class="form-group">
                                <input type="email" class="form-control" id="txtEmail" placeholder="email@exemplo.com">
                            </div>

                            <div class="form-group pb-3">
                                <input type="password" class="form-control" id="txtSenha" placeholder="Senha">
                            </div>

                            <button type="submit" class="btn btn-blue btn-block" asp-controller="Home" asp-action="Index">ENTRAR</button>

                            <p> Não tem cadastro, <a href="#" class="font-weight-light" data-toggle="modal" data-target="#modal-cadastro">começe agora</a></p>

                        </form>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

</body>
</html>

<div>

    <div class="modal fade" id="modal-cadastro" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">

        <div class="modal-dialog" role="document">

            <div class="modal-content bg-light">

                <div class="modal-header border-0">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                        <span aria-hidden="true">&times;</span>
                    </button>

                </div>

                <div class="modal-body p-0 w-75 m-auto">

                    <img src="~/img/bootstrap-stack.png" alt="Company" class="img-modal w-25 pb-3">

                    <h5 class="color-blue pb-3">CRIAR CONTA</h5>

                    <div class="pb-5 mb-4">

                        <form>

                            <div class="form-group">
                                <input type="text" class="form-control" id="txtEmpresa" placeholder="Razão Social">
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control" id="txtNome" placeholder="Digite seu nome">
                            </div>

                            <div class="form-group">
                                <input type="email" class="form-control" id="txtEmail" placeholder="email@exemplo.com">
                            </div>

                            <div class="form-group pb-3">
                                <input type="password" class="form-control" id="txtSenha" placeholder="Senha">
                            </div>

                            <button type="submit" class="btn btn-blue btn-block">REGISTRAR</button>

                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>